.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  gap: 32px;
  width: 100%;
  max-width: 640px;
  margin: auto 0 0 auto;
  background: #FAF9F5;
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;
  /* Начинаем через 24px после заголовка */
  position: absolute;
  top: calc(120px + 48px + 48px + 24px); /* падинг врапа + маргин хедера + высота h1 + 24px */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.empty-state img {
  /* 100% оригинального размера */
  width: auto;
  height: auto;
  max-width: none;
}

.empty-state-text {
  display: none;
}
